# Ambiente Virtual
venv/

# Ficheiros de Cache do Python e Jupyter
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Ficheiros de Sistema Operativo (Lixo do Windows/Mac)
.DS_Store
Thumbs.db

# Ferramentas de Tracking (WandB / MLFlow)
wandb/
mlruns/
.mlflow/

# Modelos Guardados (Pesos do PyTorch)
*.pt
*.pth

# Outputs gerados (imagens e gráficos) — manter a estrutura das pastas mas não os ficheiros
outputs/gradcam/*.png
outputs/gradcam/*.jpg
outputs/*.png
outputs/*.jpg

# Ignorar as imagens pesadas do dataset
data/MIQR-CC-Dataset/processed/
